/* Styling to the Hospital Page */
header {
    background-color: blue;
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 1px;
    text-decoration: none;
}
a {
    color: white;
    
}
footer {
    background-color: rgb(13, 13, 199);
    color: white;
    text-align: center;
}
.class1 {
    line-height:50px;
    width: -550px;
     
}
.class2 {
    background-color: blue;
    color: white;
    -webkit-text-stroke-width: 0.5px;
}
.himage {
    margin: 10px 10px 10px 10px;
}
.sp1 {
    text-decoration: none;
}